.header {
    /* border: 1px solid; */

}
p{
    margin: 0px;
}

.header .top-bar {

    background: black;
    color: white;
    padding: 10px 0px;
    font-size: 14px;
    /* margin: 0px 5px; */
    
}

.header .header-main {
    background: white;
    color: black;
    padding: 10px 0px;
    padding-right: 20px;
    /* font-size: 14px; */
    /* margin: 0px 5px; */
    
}

.header ul {
    list-style: none;
    
}

.header li {
    padding: 0px 10px;
    display:inline-block;
}

.header a {
    color: black;
    text-decoration: none;
    
}