<section class="desktop-menu" >
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="https://htmldemo.net/sinrato/sinrato/assets/img/logo/logo-sinrato2.png" alt="" 
                srcset="" />
            </div>
            <div class="col-md-6">
                <div class="menu-items" >
                    <div class="cart">
                        <a class="ha-toggle" >
                        <img src="https://fonts.gstatic.com/s/i/short-term/release/materialsymbolsoutlined/favorite/wght200/48px.svg" />
                        </a>
                    </div>
                    <div class="cart">
                        <a class="ha-toggle" >
                        <img src="https://fonts.gstatic.com/s/i/short-term/release/materialsymbolsoutlined/shopping_bag/wght200/48px.svg" /></a>
                    </div> 
                    <div class="cart">
                        <a class="ha-toggle" >
                        <img src="https://fonts.gstatic.com/s/i/short-term/release/materialsymbolsoutlined/menu/wght200/48px.svg" /></a>
                    </div> 
                </div>        
            </div>
        </div>
    </div>
</section>