<div class="navigation">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-6">        
                <div class="menu">
                    <div class="item"><a routerLink="/" >Home</a></div>
                    <div class="item"><a routerLink="/shop" >Shop</a></div>
                    <div class="item"><a routerLink="/" >Categories</a></div>
                    <div class="item"><a routerLink="/" >Contact Us</a></div>
                </div>
            </div>
            <div class="col-md-4 col-lg-6 align-self-center">
                <p class="m-0 text-end" ><span class="lnr lnr-phone"></span>Hotline : <strong>1-001-234-5678</strong></p>
            </div>
        </div>
    </div>
</div>