<section class="topbar">
  <div class="container">
      <div class="row">
         <div class="col-md-6 align-self-center">
            <div class="d-flex">
                <div class="item">
                    <span class="light-text pe-2">Email:</span>
                    <span>support@sinrato.com</span>
                </div>
                <span class="px-3" >|</span>
                <div class="item ">
                   <span>Free Shipping for all Order of $99</span>
                </div>
            </div>
         </div>
          <div class="col-md-6 text-end align-self-center">
            <div class="menu-list">
              <a href="#">My Account</a>
              <a href="#">Language</a>
              <a href="#">Currency</a>
            </div>
          </div>
      </div>
  </div>
</section>